#icon-my-plugin {
    background: transparent url( '3dady-icon.png' ) no-repeat;
}
.highlight_background { background: url(widget_textarea_bg.png); }
.highligh_background { background: url(preview_sidebar.png); }